[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "third_party/serialization2"]
	path = third_party/serialization2
	url = https://github.com/avplayer/serialization2
